
.row form p {
    color: black;
}
.row p:hover{
    text-decoration: none;
}
section .option{
    font-size: 14px;
}
section a{
    text-decoration: none;
}
section a:hover{
    text-decoration:underline;
}

