
{% extends 'nammashop/base.html' %}
<!-- {% include 'nammashop/inc/bootstrap.html' %} -->

{%load static%}
<!-- <link rel="stylesheet" href="{% static 'css/style1.css' %}"> -->
{%block title%}
    IthuNammaKadai | online shopping site
{%endblock title%}
{%block content%}
    <h5>Login</h5>
    <hr style="border-color: grey;">
    {% include 'nammashop/inc/messages.html' %}

    <section class="py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="POST" action="" >
                        {% csrf_token %}
                     <div class="mb-4">
                        <label for="" class="form-label">UserName</label>
                        <input type="text" class="form-control" id="username"  name="username" placeholder="Enter UserName">
                     </div>
                     <div class="mb-4">
                        <label for="" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password"  name="password" placeholder="Enter password">
                     </div>
                     <button class="btn btn-primary" type="submit">Login</button>
                     </form>
                </div>
            </div>
        </div>
    </section>
   
    
{%endblock content%}