{% extends 'nammashop/base.html' %}

{% include 'nammashop/inc/bootstrap.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% block title %}
    IthuNammaKadai | online shopping site
{%endblock title%}
{% block content %}
<section class="bg-light py-4 my-5" style="min-height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3" >{{Products}} Details</h4>
                <hr style="border-color: grey;">
                <nav aria-label="breadcrumb" >
                    <ol class="breadcrumb" >
                      <li class="breadcrumb-item"><a href="{% url 'home'%}" style="color: rgb(10, 10, 10);text-decoration: none;">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'collections' Products.category.name  %}" style="color: rgb(8, 8, 8);text-decoration: none">Collections</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{Products}}</li>
                    </ol>
                  </nav>
            </div>
            <div class="col-4 my-3 pic_box">
                {% if Products.trending %}
                <div class="hot">Hot</div>
                {% endif %}
                <img src="{{Products.product_image.url}}" class= "card-image-top" alt="{{Products}}" width="350" height="410">
            </div>
                <div class="col-8 my-3">
                    <h5 class="text-success">{{Products | upper}}</h5>
                    <p>{{Products.vendor}}</p>
                    <p>{{Products.description}}</p>
                    <h6 class="my-2 text-danger">Current Price Rs.<s>{{Products.original_price}}</s></h6>
                    <h6 class="my-2 text-primary">Offer Price Rs.{{Products.original_price}}</h6>
                <div class="my-3">
                    {% if Products.quantity > 0 %}
                    <input type="hidden" value="{{Products.id}}" id="pid"></input>
                    {% csrf_token %}
                    <p>
                        <div class="input-group" style="width: 150px;">
                        <button class="input-group-text bg-success text-light" id="btnminus"><i class="fa fa-minus"></i></button>
                        <input type="text" name="qty" id="txtQty" value="1" class="form-control text-center">
                        <button class="input-group-text bg-success text-light" id="btnplus"><i class="fa fa-plus"></i></button>
                    </div>
                    </p>
                        <button class="btn btn-primary" id="cart_btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                    {% else %}
                        <button class="btn btn-secondary"><i class="fa fa-minus"></i>Out of stock</button>
                    {% endif %}
                    <button class="btn btn-danger"><i class="fa fa-heart"></i></button>
                    </div>
                </div>
           
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded",function(event){
        const btnplus = document.getElementById('btnplus');
        const btnminus = document.getElementById('btnminus');
        const txtQty = document.getElementById("txtQty");
        const pid = document.getElementById("pid");
        const cart_btn = document.getElementById('cart_btn');
        const tkn=document.querySelector('[name="csrfmiddlewaretoken"]').value;

        btnplus.addEventListener("click",function(){
            let qty = parseInt(txtQty.value,10);
            qty =  isNaN(qty)?0:qty;
            if (qty<10){
                qty++;
                txtQty.value=qty;
            }
        });

        btnminus.addEventListener("click",function(){
            let qty = parseInt(txtQty.value,10)
            qty = isNaN(qty)?0:qty;
            if (qty>1){
                qty--;
                txtQty.value=qty;
            }
        });

        cart_btn.addEventListener("click",function(){
            let qty = parseInt(txtQty.value,10)
            qty = isNaN(qty)?0:qty;
            
            if (qty>0){
               let postObj={
                'product_qty':qty,
                'pid':pid.value
               }
            //    console.log(postObj);
               fetch("/addtocart",{
                method:'POST',
                credentials:'same-origin',
                headers:{
                    'Accept':'application/json',
                    'X-Requested-With':'XMLHttpRequest',
                    'X-CSRFToken':'{{ csrf_token }}',
                },
                body: JSON.stringify(postObj)
               }).then(response=>{
                return response.json();
               }).then(data=>{
                alert(data['status'])
                // console.log(data);
               });
           
            }
            else{
                alert("Please Enter The Quantity");
            }
        });
    });


</script>
{% endblock content %}
    
    
